<!-- dice-roller.component.html -->
<div class="flipper-box">
  <div>
    <details open>
      <summary><h2 style="display:inline-block">Coin Flipper</h2></summary>
      <br>
      <div>
        <img [src]="'assets/coin/' + sprite + '.png'" alt="Coin flip: {{sprite}}" [class.rising]="flipping">
      </div>
      <h3 *ngIf="!flipping && sprite === '1'"
          style="background-color: #fbdea1; border-radius: 3em; padding: 1em; border: 2px solid #371500">Flip me!</h3>
      <h3 *ngIf="!flipping && sprite !== '1'"
          style="background-color: #fbdea1; border-radius: 3em; padding: 1em; border: 2px solid #371500">{{sprite.toUpperCase()}}</h3>
      <h3 *ngIf="flipping"
          style="background-color: #FBDEA1; border-radius: 3em; padding: 1em; border: 2px solid #371500">
        Flipping...</h3>
      <span *ngIf="flipping">Hold your breath!</span><br>
      <button [disabled]="flipping" (click)="flipCoin()">Flip Coin</button>
      <br>
    </details>
  </div>

</div>

