<div class="content">
  <div class="playbook-page">
    <div class="left-column">
      <div *ngIf="!carded" class="pb-selector-div">
        <h2 style="margin-bottom: -0.5em;">Choose A Playbook</h2><br>
        <div *ngFor="let playbook of playbooks">
          <button (click)="selectPlaybook(playbook)">{{ playbook.title }}</button>
        </div>
      </div>
      <div [class.hiding]="!carded">
        <app-dice-roller></app-dice-roller>
      </div>
      <div [class.hiding]="!carded || !selectedPlaybook || selectedPlaybook.title !== 'The Mall Rat'">
        <app-coin-flipper></app-coin-flipper>
      </div>

    </div>


    <div *ngIf="selectedPlaybook && !carded" class="playbook-div">
      <input type="text" class="name-box" placeholder="Mallgoer's Name and Pronouns" [(ngModel)]="name"> <b> ,</b>
      <h2 class="playbook-title">{{ selectedPlaybook.title }}</h2>
      <h2 class="playbook-subheader">of The Infinite.</h2>
      <p class="playbook-quote">{{ selectedPlaybook.quote }}</p>
      <hr>
      <h2 class="description-header">The 411 On {{ selectedPlaybook.title }}</h2>
      <details>
        <summary><h2 class="description-subheader">Playstyle: {{ selectedPlaybook.desc_header}}</h2></summary>
        <p class="description">{{ selectedPlaybook.desc }}</p>
      </details>
      <hr>
      <h3 class="description-header" style="display: inline-block; margin: 0 0.6em 0 0;">Stats:</h3><br>
      <b>*** Increase a stat by 1 on creation. Use the input fields below to increase stats.</b>
      <div class="button-row">
        <button title="Savvy means brain power. Use it to think real hard or snoop real well." class="stat-tag"
                [style.background-color]="getStatTagColor(selectedPlaybook.savvy + savvy)">Savvy
                                                                                           : {{ selectedPlaybook.savvy + savvy}}</button>
        <button title="Slick means social know-how. Use it to shmooze or tell a convincing lie." class="stat-tag"
                [style.background-color]="getStatTagColor(selectedPlaybook.slick + slick)">Slick
                                                                                           : {{ selectedPlaybook.slick + slick}}</button>
        <button title="Swag means keeping cool. Use it to show some finesse or keep real still." class="stat-tag"
                [style.background-color]="getStatTagColor(selectedPlaybook.swag + swag)">Swag
                                                                                         : {{ selectedPlaybook.swag + swag}}</button>
        <button title="Strong means brute force. Use it to throw a punch or kick through a door." class="stat-tag"
                [style.background-color]="getStatTagColor(selectedPlaybook.strong + strong )">Strong
                                                                                              : {{ selectedPlaybook.strong + strong }}</button>
        <button title="Shop means being a regular. Use it to find something valuable or swipe your card."
                class="stat-tag" [style.background-color]="getStatTagColor(selectedPlaybook.shop + shop)">Shop
                                                                                                          : {{ selectedPlaybook.shop + shop}}</button>
      </div>

      <div class="input-row">
        <input type="number" [(ngModel)]="savvy" (input)="updateStat('savvy', $event)" [min]="0"
               [max]="3 - selectedPlaybook.savvy">
        <input type="number" [(ngModel)]="slick" (input)="updateStat('slick', $event)" [min]="0"
               [max]="3 - selectedPlaybook.slick">
        <input type="number" [(ngModel)]="swag" (input)="updateStat('swag', $event)" [min]="0"
               [max]="3 - selectedPlaybook.swag">
        <input type="number" [(ngModel)]="strong" (input)="updateStat('strong', $event)" [min]="0"
               [max]="3 - selectedPlaybook.strong">
        <input type="number" [(ngModel)]="shop" (input)="updateStat('shop', $event)" [min]="0"
               [max]="3 - selectedPlaybook.shop">
      </div>
      <br>
      <br>
      <h3 class="description-header">Playbook Moves:</h3>
      <p *ngIf="selectedPlaybook.move_num === 'one'">You get all the basic moves
                                                     plus {{selectedPlaybook.move_num}} {{ selectedPlaybook.title.substring(4) }}
                                                     move.</p>
      <p *ngIf="selectedPlaybook.move_num !== 'one'">You get all the basic moves
                                                     plus {{selectedPlaybook.move_num}} {{ selectedPlaybook.title.substring(4) }}
                                                     moves.</p>
      <div class="move-container">
        <ul style="list-style-type: none;  margin: 0;  padding: 0;">
          <li *ngFor="let move of selectedPlaybook.moves; let i = index">
            <div>
              <div class="move-check">
                <input type="checkbox" id="{{ move.move_name }}_checkbox" style="margin-top: 0.5em;"
                       [checked]="isSelected(move)" (change)="toggleMoveSelection($event, move)">
              </div>
              <div class="move-box">
                <span class="move-name">{{move.move_name}}:  </span> <span class="move-description">{{move.desc}}</span>
                <ul>
                  <li *ngFor="let roll of move.rolls">
                    <p><b>{{ roll.submove_name }}: </b> {{ roll.desc }}</p>
                  </li>
                  <li *ngFor="let bullet of move.bullets">
                    <p><b *ngIf="bullet.submove_name">{{ bullet.submove_name }}:</b> {{ bullet.desc }}</p>
                  </li>
                  <div>
                    <li *ngFor="let choice of move.choices; let j = index" style="list-style: none;">
                      <input type="checkbox" id="{{ move.move_name + j }}_checkbox" style="margin-top: 0.5em;"
                             [checked]="isChoiceSelected(move, choice)"
                             (change)="toggleChoiceSelection($event, move, choice)" [disabled]="!isSelected(move)">
                      <label><b *ngIf="choice.submove_name">{{ choice.submove_name }}:</b> {{ choice.desc }}</label>
                    </li>
                  </div>
                </ul>
                <br>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="clear-button" (click)="clear()">Clear</button>
      <button (click)="generateCard()">Gimme My Card!</button>
    </div>
    <div *ngIf="!selectedPlaybook && !carded" class="playbook-div" style="height: 70em; text-align: center">
      <h2 class="playbook-title">Select a Playbook to Get Started</h2>
    </div>
    <div *ngIf="carded" class="playbook-div">
      <h2 class="playbook-title">{{name}},</h2>
      <h2>{{ selectedPlaybook.title }} of The Infinite.</h2>
      <hr>
      <h2 class="description-header" style="display: inline-block; margin: 0 0.6em 0.2em 0 !important;">Stats:</h2>
      <br>
      <b>Click a stat to roll it. Hover for a refresher on what they mean.</b>
      <div class="button-row">
        <button title="Savvy means brain power. Use it to think real hard or snoop real well." class="stat-tag"
                [disabled]="diceRoller.rolling" (click)="rollDiceWithModifier('Savvy', selectedPlaybook.savvy + savvy)"
                [style.background-color]="getStatTagColor(selectedPlaybook.savvy + savvy)">Savvy
                                                                                           : {{ selectedPlaybook.savvy + savvy}}</button>
        <button title="Slick means social know-how. Use it to shmooze or tell a convincing lie." class="stat-tag"
                [disabled]="diceRoller.rolling" (click)="rollDiceWithModifier('Slick', selectedPlaybook.slick + slick)"
                [style.background-color]="getStatTagColor(selectedPlaybook.slick + slick)">Slick
                                                                                           : {{ selectedPlaybook.slick + slick}}</button>
        <button title="Swag means keeping cool. Use it to show some finesse or keep real still." class="stat-tag"
                [disabled]="diceRoller.rolling" (click)="rollDiceWithModifier('Swag', selectedPlaybook.swag + swag)"
                [style.background-color]="getStatTagColor(selectedPlaybook.swag + swag)">Swag
                                                                                         : {{ selectedPlaybook.swag + swag}}</button>
        <button title="Strong means brute force. Use it to throw a punch or kick through a door." class="stat-tag"
                [disabled]="diceRoller.rolling"
                (click)="rollDiceWithModifier('Strong', selectedPlaybook.strong + strong)"
                [style.background-color]="getStatTagColor(selectedPlaybook.strong + strong )">Strong
                                                                                              : {{ selectedPlaybook.strong + strong }}</button>
        <button title="Shop means being a regular. Use it to find something valuable or swipe your card."
                class="stat-tag" [disabled]="diceRoller.rolling"
                (click)="rollDiceWithModifier('Shop', selectedPlaybook.shop + shop)"
                [style.background-color]="getStatTagColor(selectedPlaybook.shop + shop)">Shop
                                                                                         : {{ selectedPlaybook.shop + shop}}</button>
      </div>
      <h3 class="description-header">Your Moves:</h3>
      <div class="move-container">
        <ul style="list-style-type: none;  margin: 0;  padding: 0;">
          <li *ngFor="let move of moves; let i = index"
              style="max-width: 100% !important; margin-left: -1em !important;">
            <div class="move-box">
              <span class="move-name">{{move.move_name}}:  </span> <span class="move-description">{{move.desc}}</span>
              <ul>
                <li *ngFor="let roll of move.rolls">
                  <p><b>{{ roll.submove_name }}: </b> {{ roll.desc }}</p>
                </li>
                <li *ngFor="let bullet of move.bullets">
                  <p><b *ngIf="bullet.submove_name">{{ bullet.submove_name }}:</b> {{ bullet.desc }}</p>
                </li>
                <li *ngFor="let choice of move.chosen">
                  <p><b *ngIf="choice.submove_name">{{ choice.submove_name }}:</b> {{ choice.desc }}</p>
                </li>
              </ul>
              <br>
            </div>
          </li>
        </ul>
      </div>
      <button class="clear-button" (click)="goBack()">Edit</button>
    </div>
  </div>
</div>


