@font-face {
  font-family: 'Trickster_Regular';
  font-weight: normal;
  font-style: normal;
}

.left-column {
  width: 25%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: top;
}

.playbook-div {
  width: 65%;
  margin-right: 5%;
  display: inline-block;
}

.pb-selector-div {
  vertical-align: top;
  text-align: center;
  border: 0.6em solid #F9BE44;
  padding: 2em;
  border-radius: 3em;
  margin-bottom: 2em;
}

.playbook-page {
  max-width: 1600px;
  margin: 2em auto 0;
}

.playbook-title {
  font-family: Trickster, serif;
  font-size: 3.5em !important;
  color: #371500;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.playbook-subheader {
  font-family: Trickster, serif;
  font-size: 2.5em !important;
  color: #371500;
  margin-top: -0.2em !important;
  margin-left: 5em;
}

.playbook-quote {
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em !important;
  font-style: italic;
  color: #371500;
  text-align: justify !important;
  margin: 1.2em;
}

.playbook-quote:before {
  content: "“ ";
  font-weight: bold;
}

.playbook-quote:after {
  content: " ”";
  font-weight: bold;
}

.description-header {
  font-family: Trickster, serif;
  font-size: 2.4em !important;
  color: #371500;
  margin-top: 0 !important;
  margin-bottom: 0.7em !important;
}

.description-subheader {
  font-family: Trickster, serif;
  font-size: 1.5em !important;
  color: #371500;
  margin-top: -0.2em !important;
  margin-bottom: 0 !important;
  display: inline-block;
}

.description, label {
  font-family: Lato;
  color: #371500;
  line-height: 1.7em !important;
  text-align: justify;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stat-tag {
  flex: 1; /* Make tags fill available space equally */
  margin-right: 0.5em; /* Add margin between stat tags */
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.3em;
  border-radius: 3em;
  background-color: #f9be44;
  color: #371500;
  border: 2px solid #371500;
  transition: ease-in-out;
}

.stat-tag:hover {
  background-color: #371500 !important;
  color: white;
}

.stat-tag:active {
  transform: none !important;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-row input {
  flex: 1; /* Make inputs fill available space equally */
  height: 2em;
  text-align: center;
  margin-right: 1em; /* Add margin between input fields */
}

.hiding{
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}

button:disabled,
button[disabled]{
  background-color: #cccccc !important;
  color: #666666;
}

button[disabled]:hover{
  background-color: #cccccc !important;
  color: #666666;
}

.input-row{
  margin-left: 0.2em;
}

hr {
  border: 2px solid #371500;
  margin-top: 2em;
  margin-bottom: 2em;
}

p, h1, h2, h3, h4, h5, h6, label {
  color: #371500;
}

p, label {
  font-size: 1.2em;
}

.move-check {
  width: 7%;
  display: inline-block;
  vertical-align: top;
}

.move-box {
  width: 90%;
  display: inline-block;
  text-align: justify;
  line-height: 1.7em !important;
}

details {
  max-width: 100% !important;
}

.move-name {
  font-family: Trickster, serif;
  color: #371500;
  font-size: 1.4em;
}

button {
  transition: ease-in-out 0.1s;
}

button:active {
  transform: rotate(40deg);
}

.move-description {
  font-size: 1.2em;
  color: #371500;
}

input {
  accent-color: #F9BE44;
}

.name-box {
  width: 90%;
  height: 2em;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.move-container {
  column-count: 2;
  column-gap: 5%;
  text-align: center !important;
}

.special-word {
  font-family: "Pilowlava", sans-serif; /* Specify the special font */
}


@media screen and (max-width: 900px) {
  .move-container {
    column-count: 1;
    text-align: center !important;
  }

  .left-column {
    width: 100% !important;
    display: flex;
    vertical-align: top;
  }

  .pb-selector-div {
    vertical-align: top;
    text-align: center;
    border: 0.6em solid #F9BE44;
    padding: 2em;
    border-radius: 3em;
    margin-bottom: 2em;
  }

  .playbook-div {
    width: 100% !important;
  }
}

.clear-button {
  background-color: #FBDEA1 !important;
}

.clear-button:hover {
  background-color: #371500 !important;
  color: #FFFFFF;
}
