<div class="home-page">
  <div class="home-content">
    <div class="header">
      <img src="https://img.itch.zone/aW1nLzEzOTA4OTE0LnBuZw==/original/no%2FguM.png">
    </div>
    <div class="buy-header">
      <div class="buy-row-text">
        <h2>F*$% Around, Find Out</h2>
      </div>
      <div class="buy-row-frame">
        <iframe frameborder="0"
              src="https://itch.io/embed/2260762?bg_color=ffffff&amp;fg_color=222222&amp;link_color=975000&amp;border=none;"
              width="700" height="175"><a href="https://mean-green-press.itch.io/you-are-here">You Are Here (Early
                                                                                               Access) by Mean Green
                                                                                               Press</a></iframe>
      </div>
    </div>
  </div>
</div>
